@import '../../../../../colors.scss';


.header-wrapper {

    font-family: 'Gotham', sans-serif;


}

.logo-box {
    
    border-bottom: 3px solid $prussian-blue;
    margin: 0em 0em 2em 5em;
    border-bottom: 0.5em solid $prussian-blue;

    .ossian-logo {
        height: 40%;
    }

    p {
        color: $prussian-blue;
        font-weight: 300;

        span {

            font-weight: 800;
        }

    }

    .nombre {
        
        font-weight: 800;
        font-size: 1.2em;
    }

    
}

.slogan {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    margin: 0px;
    padding: 0px;
    font-family: 'Gotham', sans-serif;
    font-weight: 800;
    color: $prussian-blue;
    letter-spacing: 0.2em;

    p {
        margin: 0px;
    }
}