
<section class="main-wrapper">

  <div class="main-left">

    <app-addform></app-addform>

  </div>

  <div class="main-right">

    <div class="card-content" *ngFor="let card of data">

        <nz-card nzHoverable [nzCover]="coverTemplate">

          <nz-card-meta nzTitle="{{card.title}}" nzDescription="{{card.description}}"></nz-card-meta>

          <p>{{card.category}}</p>

          <i nz-icon nzType="edit" nzTheme="outline"></i>

        </nz-card>

        <ng-template #coverTemplate>

          <img alt="example" src="{{card.url}}" />

        </ng-template>

    </div>

  </div>

</section>

