
<section class="main-wrapper">

  <div class="main-left">

    <app-addform></app-addform>

  </div>

  <div class="main-right">

    <div class="postcard-box" >

      <!-- <div class="postcard" *ngFor="let card of data">hola</div> -->

      <nz-card class="postcard" nzHoverable [nzCover]="coverTemplate" *ngFor="let card of data">

        <nz-card-meta></nz-card-meta>
        <ng-template #coverTemplate>
          <img alt="{{ card.title }}" src="{{ card.url }}" />
          
        </ng-template>
        <h3>{{card.title}}</h3>
        <p>{{card.category}}</p>
        <p>{{card.description}}</p>
        <a routerLink="update/{{card.id}}"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
      </nz-card>

    </div>

  </div>

</section>

