@import '../../../colors.scss';

.form-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2em;
    border-right: 5px solid $prussian-blue;

    .form-content {
        display: flex;
        width: 80%;
        height: 80%;
    }
    
    .edit-form-left {

        display: flex;
        width: 50%;
        height: 100%;
        padding: 3em;

        img {

            width: 100%;
            height: auto;
        }
    }
    .edit-form-right {

        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;

        h1 {
            
            font-family: 'Gotham', sans-serif;
            font-size: 3em;
            font-weight: 800;
            color: $prussian-blue;
            margin-bottom: 0.3em;
        
        }
    
        p {
            width: 60%;
            color: $blue-sapphire;
            font-size: 1.2em;
            margin-bottom: 1em;
        }

    }



    }

  

    .form-box {
        
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        
        

    .button-box {

        display: flex;
        justify-content: center;
        margin-top: 1em;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .btenviar {

        margin-top: 2em;
        width: 80%;
        margin: 0px;
        transition: $transition;
    }

    .btenviar:hover {

        margin-top: 2em;
        width: 100%;
        margin: 0px;
        transition: $transition;
    }

    .mat-flat-button.mat-primary {
        background-color: $prussian-blue ;
    }

}